strong {
  color: #0047ab;
}
.section-divider {
  text-align: center;
  padding-top: 60px;
  text-transform: uppercase;
}
.section-divider:after {
  background: url("../img/divider.png") no-repeat bottom center;
  padding-bottom: 12px;
  display: block;
  height: 10px;
  content: ",";
  text-indent: -9999px;
  width: 630px;
  text-align: center;
  margin: auto auto 24px;
}
.navbar-bottom {
  -webkit-box-shadow: 0px 1px 1px #ccc;
  -moz-box-shadow: 0px 1px 1px #ccc;
  box-shadow: 0px 1px 1px #ccc;
}
.navbar-bottom a:hover {
  color: #dd2300;
}
body {
  font-family: "Open Sans", sans-serif;
  padding-top: 60px;
  padding-bottom: 40px;
  background-color: #eee;
}
.fade-text {
  animation: fadein 4s;
  -moz-animation: fadein 4s;
  /* Firefox */
  -webkit-animation: fadein 4s;
  /* Safari and Chrome */
  -o-animation: fadein 4s;
  /* Opera */
}
.long-fade-text {
  animation: fadein 7s;
  -moz-animation: fadein 7s;
  /* Firefox */
  -webkit-animation: fadein 7s;
  /* Safari and Chrome */
  -o-animation: fadein 7s;
  /* Opera */
}
@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-moz-keyframes fadein {
  /* Firefox */
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-webkit-keyframes fadein {
  /* Safari and Chrome */
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-o-keyframes fadein {
  /* Opera */
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.about {
  margin-top: 8%;
  line-height: 40px;
  text-align: center;
  font-size: 24px;
}
.about .big {
  font-family: 'ubuntu';
  font-size: 30px;
  color: #4682b4;
  font-weight: bold;
}
.about ul {
  list-style: none;
}
.about li {
  display: inline-block;
  padding: 5px;
  font-weight: bold;
}
.about li strong {
  color: #dd2300;
  font-family: helvetica;
  font-size: 40px;
}
.wrapper {
  width: 80%;
  background-color: white;
  margin-left: auto;
  margin-right: auto;
  margin-top: 100px;
  padding: 20px 20px 20px 50px;
  -moz-box-shadow: 0 1px 8px rgba(0, 0, 0, 0.6);
  -webkit-box-shadow: 0 1px 8px rgba(0, 0, 0, 0.6);
  box-shadow: 0 1px 8px rgba(0, 0, 0, 0.6);
  font-family: "Open Sans", sans-serif;
}
.nav-right {
  text-align: right;
}
.logo {
  float: left;
  display: inline;
  padding-left: 30px;
}
.logo img {
  width: 80px;
  height: auto;
}
#ssb-logo {
  width: 324px;
  height: auto;
}
a {
  text-decoration: none;
  color: #0047ab;
}
a:hover {
  color: #005cde;
  text-decoration: underline;
}
.featuring h1 {
  font-family: 'ubuntu', sans-serif;
}
.sponsors > a {
  margin-left: auto;
  margin-right: auto;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: 50% 0%;
}
.sponsors {
  margin: auto;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  display: inline-block;
}
.sponsors img {
  opacity: 0.5;
  filter: alpha(opacity=50);
  vertical-align: middle;
  filter: grayscale(100%);
  -webkit-filter: grayscale(100%);
  -ms-filter: grayscale(100%);
  -o-filter: grayscale(100%);
  filter: gray;
  -webkit-filter: grayscale(1);
}
.sponsors img:hover {
  filter: none;
  opacity: 1;
  -webkit-filter: grayscale(0%);
  -ms-filter: grayscale(0%);
  -o-filter: grayscale(0%);
}
#navbar-links {
  float: right;
  font-family: 'Ubuntu', sans-serif;
  font-weight: bold;
  text-transform: uppercase;
}
.inner-nav {
  padding-top: 10px;
  width: 70%;
  margin: auto;
}
.landing-photo {
  margin-top: 0px;
  width: 100%;
  height: 600px;
  background: url(/image.png) no-repeat center center;
  background-position: cover;
  background-color: #cc0000;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.hero-text {
  margin-right: 5%;
  width: 40%;
  margin-top: 7%;
  float: right;
  text-align: left;
  font-size: 30px;
  color: white;
  text-shadow: 2px 2px #000;
  padding-top: 15px;
  font-family: 'Ubuntu', sans-serif;
}
.hero-text .tagline {
  font-size: 30px;
  text-shadow: inherit;
  font-weight: 400;
}
.hero-text .details {
  font-family: 'Open Sans', sans-serif;
  font-size: 20px;
}
.col-md-4 {
  width: 33%;
  display: inline-block;
}
.title {
  font-family: 'Ubuntu', sans-serif;
  font-size: 50px;
}
.title strong {
  color: #4682b4;
}
.mainpage-wrapper {
  margin-top: 10%;
}
.footer {
  padding-top: 20px;
  margin: auto;
  text-align: center;
  font-family: 'Open Sans', sans-serif;
  color: #777;
}
